@import '../../../styles/Variable/index';

.wrapper {
  position: fixed;
  left: 56%;
  top: 12%;
  width: 500px;
  background-color: white;
  border-radius: 25px;
  min-height: 500px;
  .title {
    text-align: center;
    margin-top: 40px;
    color: #191d23;
    font-size: 3.6rem;
    font-weight: 500;
  }

  .title-sub {
    margin-top: 30px;
    color: #666666;
    text-align: center;
    line-height: 24px;
  }
  .form {
    padding: 50px;

    .temp-of-service {
      color: #4b5768;
      strong {
        color: #299d91;
      }
    }
    .button {
      margin-top: 30px;
      width: 100%;
      height: 44px;
      border-radius: 4px;
      background-color: #299d91;
      color: white;
      transition: all 0.3s ease;
      &:hover {
        box-shadow: 5px 10px 10px 2px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.back-login {
  margin-top: 40px;
  text-align: center;
  color: #999da3;
  cursor: pointer;
}
