@import '../../../styles/Variable/index';

.wrapper {
  background-image: url('../../../assets//img/layoutnonavbar/bg.png');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-position: center;
  height: 100vh;
  padding: 60px 100px 2px 100px;
}
