$width-navbar-sm: 346px;
$width-navbar-md: 77px;
$width-navbar-lg: 246px;
$width-navbar-xl: 266px;

$height-header: 60px;

$screen-sm: 768px;
$screen-md: 991px;
$screen-lg: 1280px;
$screen-xl: 1920px;

$primary-color: #3294ee;

$hover-color: #60e3f5;
$search-color: #00cffc;
$footer-color: #5cb4da;
$modal-color: #d9d9d980;
$button-color: #4c8efa;
