@import '../../../styles/Variable/index';

.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: start;
  min-width: 100px;
  height: 50px;
  padding: 9px 16px;
  border-radius: 12px;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer !important;
  background-color: white;
  border: 1px solid transparent;
  user-select: none;
  transition: all 0.3s ease-in-out;

  + .wrapper {
    margin-left: 14px;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.icon + .title,
.title + .icon {
  margin-left: 16px;
}

.icon {
  display: inline-block;
  width: 24px;
  text-align: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

// Button types
.rounded {
  border-radius: 999px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
  border-color: rgba(22, 24, 35, 0.12);

  &:hover {
    border-color: rgba(22, 24, 35, 0.2);
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.primary {
  color: white;
  background-color: $primary-color;
  border-color: $primary-color;
  border-radius: 999px;
  width: 178px;
  align-items: center !important;
  cursor: pointer !important;
  position: relative;
  z-index: 0;
  span {
    width: 100%;
  }
  &:hover {
    background-color: $hover-color;
    border-color: currentColor;
    // color: black;
  }
}

.outline {
  color: $primary-color;
  border-radius: 999px;
  width: 178px;
  border-color: currentColor;
  cursor: pointer !important;
  position: relative;
  z-index: 0;

  span {
    width: 100%;
  }

  &:hover {
    background-color: rgba(254, 44, 85, 0.06);
    border-color: currentColor;
  }
}

.text {
  &:hover {
    text-decoration: underline;
  }
}

// Button sizes
.small {
  min-width: 88px;
  padding: 2px 16px;
}

.large {
  padding: 14px 16px;
  min-width: 140px;
}

.search {
  background-color: $search-color;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  height: 40px;
  cursor: pointer !important;

  .title {
    color: white;
    font-size: 2rem;
    font-weight: 500;
  }
}

.join {
  background-color: #d8587e;
  color: white;
  border-radius: 999px;
  justify-content: center;
  transition: all 0.3s ease-in;
  &:hover {
    opacity: 0.9;
  }
}
